<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="account.css" />
    <script src="account.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="../elice-rabbit.png" width="30" height="30" />
            <span class="has-text-link">쇼핑-데모</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li><a href="/login" id="loginId">로그인</a></li>
              <li>
                <a href="/cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <main class="is-flex is-justify-content-center is-align-items-center">
      <section
        class="information_section is-flex is-justify-content-space-between mt-3"
      >
        <img
          src="../elice-rabbit.png"
          alt="profile_image is-rounded"
          class="profile_image is-size-1"
        />
        <div
          id="userInformation"
          class="user_information is-flex is-flex-direction-column is-align-items-center"
        >
          <div class="mb-5">
            <span class="is-size-3 mr-2">이메일</span>
            <p id="userEmail"></p>
          </div>
          <div class="mb-5">
            <div class="info_area">
              <span class="is-size-3 mr-2">이름</span>
              <i id="icon-1" class="fas fa-edit is-hidden"></i>
              <p id="userName"></p>
            </div>
          </div>
          <div class="mb-5">
            <div class="info_area">
              <span id="phoneNumberArea" class="is-size-3 mr-2">전화번호</span>
              <i id="icon-2" class="fas fa-edit is-hidden"></i>
              <p id="userPhoneNumber"></p>
            </div>
          </div>
          <div>
            <div class="info_area">
              <span id="addressArea" class="is-size-3 mr-2">주소</span>
              <i id="icon-3" class="fas fa-edit is-hidden"></i>
              <p id="userAddress">가나다라마 바사아자 차카 타파하하하</p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
