<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쫀쫀단</title>
    <!-- 아이콘 -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="account.css" />
    <script src="account.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item is-flex" href="/">
            <img
              src="/icon.png"
              class="image is-48x48"
              style="max-height: 100%"
            />
            <h1 class="title ml-2" style="font-size: 30px">
              쫀쫀단
              <p class="pt-2" style="font-size: 1rem">
                <span class="is-font-orange">쫀득쫀득</span>
                단백질
              </p>
            </h1>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li>
                <a href="/login" id="loginId" class="is-font-orange">로그인</a>
              </li>
              <li>
                <a href="/cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping is-font-orange"></i>
                  </span>
                  <span class="is-font-orange">카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <main
      class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column"
    >
      <section
        class="information_section is-flex is-justify-content-space-between mt-3"
      >
        <img
          src="/profile.png"
          alt="profile_image is-rounded"
          class="profile_image is-size-1"
        />
        <div
          id="userInformation"
          class="user_information is-flex is-flex-direction-column is-align-items-center"
        >
          <div class="mb-5">
            <span class="is-size-3 mr-2">이메일</span>
            <p id="userEmail"></p>
          </div>
          <div class="mb-5">
            <div class="info_area">
              <span class="is-size-3 mr-2">이름</span>
              <p id="userName"></p>
            </div>
          </div>
          <div class="mb-5">
            <div class="info_area">
              <span id="phoneNumberArea" class="is-size-3 mr-2">전화번호</span>
              <p id="userPhoneNumber"></p>
            </div>
          </div>
          <div>
            <div class="info_area">
              <span id="addressArea" class="is-size-3 mr-2">주소</span>
              <p id="userAddress"></p>
            </div>
          </div>
        </div>
      </section>
      <section
        id="option"
        class="option is-flex is-justify-content-space-evenly is-align-items-center"
      >
        <a href="/account/update" class="button is-font-orange">
          <i class="fas fa-user-edit mr-2"></i>
          <p>회원정보 수정</p>
        </a>
        <a href="/account/orders" class="button is-font-orange">
          <i class="fas fa-shopping-bag mr-2"></i>
          <p>주문 조회</p>
        </a>
        <button id="deleteButton" class="button is-font-orange">
          <i class="fas fa-sign-out mr-2"></i>
          <p>회원 탈퇴</p>
        </button>
      </section>
    </main>
  </body>
</html>
