<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="updateInfo.css" />
    <script src="updateInfo.js" type="module" defer></script>
  </head>
  <body
    class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column"
  >
    <header>
      <h1 class="title mb-5">회원정보 수정</h1>
    </header>
    <main
      class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column"
    >
      <section>
        <div class="field">
          <label class="label">이름</label>
          <div class="control has-icons-left">
            <input
              id="nameInput"
              class="input is-success"
              type="text"
              placeholder="Text input"
              value="api를 통해 받아온 이름 출력"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <!-- <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span> -->
          </div>
          <p class="help is-success">This name is available</p>
          <p class="help is-danger is-hidden">This name is invalid</p>
        </div>
        <div class="field">
          <label class="label">전화번호</label>
          <div class="control has-icons-left">
            <input
              id="phoneNumberInput"
              class="input"
              type="text"
              placeholder="전화번호"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-mobile"></i>
            </span>
            <!-- <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span> -->
          </div>
        </div>
        <div class="field">
          <label for="" class="label">비밀번호</label>
          <div class="control has-icons-left">
            <input class="input" type="password" placeholder="********" />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="" class="label">비밀번호 확인</label>
          <div class="control has-icons-left">
            <input class="input" type="password" placeholder="********" />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="" class="label">주소</label>
          <div class="control">
            <div class="is-flex is-justify-content-space-between mb-3">
              <input id="postalCode" class="input mr-2" type="text" readonly />
              <button class="button is-link is-outlined">주소 찾기</button>
            </div>
            <input id="address1" class="input mb-3" type="text" readonly />
            <input
              id="address2"
              class="input"
              type="text"
              placeholder="상세주소 입력"
            />
          </div>
        </div>
        <div class="field is-grouped mt-6">
          <div class="control">
            <button class="button is-link">수정하기</button>
          </div>
          <div class="control">
            <button class="button is-grey is-light">취소</button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
