<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쫀쫀단</title>
    <!-- 아이콘 -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="updateInfo.css" />
    <script src="updateInfo.js" type="module" defer></script>
  </head>
  <body
    class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column"
  >
    <header>
      <h1 class="title mb-5">회원정보 수정</h1>
    </header>
    <main
      class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column"
    >
      <section>
        <div class="field">
          <label class="label">이름</label>
          <div class="control has-icons-left">
            <input
              id="nameInput"
              class="input"
              type="text"
              placeholder="Text input"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">전화번호</label>
          <div class="control has-icons-left">
            <input
              id="phoneNumberInput"
              class="input"
              type="number"
              placeholder="전화번호"
              maxlength="11"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-mobile"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="" class="label">변경할 비밀번호</label>
          <div class="control has-icons-left">
            <input
              id="passwordInput"
              class="input"
              type="password"
              placeholder="********"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="" class="label">변경할 비밀번호 확인</label>
          <div class="control has-icons-left">
            <input
              id="passwordCheckInput"
              class="input"
              type="password"
              placeholder="********"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <p id="passwordCorrect" class="help is-success is-hidden">
            비밀번호가 일치합니다.
          </p>
          <p id="passwordNotCorrect" class="help is-danger is-hidden">
            비밀번호가 일치하지 않습니다.
          </p>
        </div>
        <div class="field">
          <label for="" class="label">주소</label>
          <div class="control">
            <div class="is-flex is-justify-content-space-between mb-3">
              <input id="postalCode" class="input mr-2" type="text" readonly />
              <button
                id="searchAddressButton"
                class="button is-background-orange is-font-white"
              >
                주소 찾기
              </button>
            </div>
            <input id="address1" class="input mb-3" type="text" readonly />
            <input id="address2" class="input" type="text" />
          </div>
        </div>
        <div class="field is-grouped mt-6">
          <div class="control">
            <button
              id="submitButton1"
              class="button is-background-orange is-font-white"
            >
              수정하기
            </button>
          </div>
          <div class="control">
            <button id="cancelButton1" class="button">취소</button>
          </div>
        </div>
      </section>
      <div id="modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">현재 비밀번호 입력</p>
          </header>
          <section class="modal-card-body">
            <p class="mb-4">현재 비밀번호를 입력해주세요.</p>
            <input
              id="currentPasswordInput"
              class="input"
              type="password"
              placeholder="********"
            />
          </section>
          <footer class="modal-card-foot">
            <button
              id="submitButton2"
              class="button is-background-orange is-font-white"
            >
              수정완료
            </button>
            <button id="cancelButton2" class="button">취소하기</button>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
