@font-face {
  font-family: 'EliceDigitalBaeum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --orange: #ff7800;
  --orange-light: #ffb16c;
  --yellow: #ffe300;
  --apricot: #fff6f1;
  --white: #f7f7f7;
  --lightorange: #ffbc97;
}

*:not(i) {
  font-family: 'EliceDigitalBaeum', sans-serif !important;
}

textarea:focus,
select:focus,
input:focus {
  /* border: none !important; */
  border: 1px solid var(--orange) !important;
  /* border-radius: 0 !important; */
  box-shadow: none !important;
}

.is-font-orange {
  color: var(--orange) !important;
}

.is-font-white {
  color: var(--white) !important;
}

.is-font-lightorange {
  color: var(--lightorange) !important;
}

.is-background-orange {
  background-color: var(--orange) !important;
}

.is-background-orange.is-light {
  background-color: var(--orange-light) !important;
}

.is-background-yellow {
  background-color: var(--yellow) !important;
}

.is-background-apricot {
  background-color: var(--apricot) !important;
}
