<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/importHead.js"></script>
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="adminCategory.css" />
    <script src="adminCategory.js" type="module" defer></script>
  </head>
  <body>
    <nav
      class="navbar is-background-apricot"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item is-flex" href="/">
            <img
              src="/icon.png"
              class="image is-48x48"
              style="max-height: 100%"
            />
            <h1 class="title ml-2" style="font-size: 30px">
              쫀쫀단
              <p class="pt-2" style="font-size: 1rem">
                <span class="is-font-orange">쫀득쫀득</span>
                단백질
              </p>
            </h1>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li>
                <a href="/login" id="loginId" class="is-font-orange">로그인</a>
              </li>
              <li>
                <a href="/admin" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cog is-font-orange"></i>
                  </span>
                  <span class="is-font-orange">페이지 관리</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <main class="is-flex is-align-items-center is-flex-direction-column">
      <section class="section">
        <div class="header mb-5 is-flex is-justify-content-space-between">
          <h1 class="title is-2 pb-3">카테고리 관리</h1>
          <button
            id="createButton"
            class="button is-background-orange is-light"
          >
            카테고리 추가
          </button>
        </div>
        <div
          id="categoryContainer"
          class="is-grid is-justify-content-center"
        ></div>
      </section>
      <div id="categoryModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">카테고리</p>
          </header>
          <section class="modal-card-body">
            <div class="field">
              <label class="label">카테고리 명</label>
              <div class="control">
                <input
                  id="categoryName"
                  class="input"
                  type="text"
                  placeholder="카테고리 명"
                />
              </div>
            </div>

            <div class="field">
              <label class="label">카테고리 설명</label>
              <div class="control">
                <input
                  id="categoryDescription"
                  class="input"
                  type="text"
                  placeholder="최대 150자까지 가능합니다."
                  maxlength="150"
                />
              </div>
            </div>

            <div class="field">
              <div class="file has-name is-fullwidth is-flex-direction-column">
                <label class="label">이미지 업로드</label>
                <label class="file-label">
                  <input
                    id="categoryImage"
                    class="file-input"
                    type="file"
                    name="resume"
                  />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">상품 이미지 업로드</span>
                  </span>
                  <span class="file-name">사진(JPG, JPEG, PNG)</span>
                </label>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <button
              id="saveButton"
              class="button is-background-orange is-light"
            >
              저장
            </button>
            <button id="cancelButton" class="button">취소</button>
          </footer>
        </div>
      </div>
      <div id="deleteModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div
            class="box is-flex is-justify-content-center is-align-items-space-evenly is-flex-direction-column"
          >
            <span class="mb-4">
              카테고리 삭제시 복구할 수 없습니다. 정말 삭제하시겠습니까?
            </span>
            <button id="deleteButton" class="button is-danger">네</button>
            <button id="deleteCancelButton" class="button">아니오</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
